body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start; /* Align items to the start */
  align-items: center;
  min-height: 100vh; /* The body should at least fill the viewport */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#about-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 80%;
  height: 60vh; 
  margin: 12rem auto;
}

#about-skills .about-skills-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#about-skills #about,
#about-skills #skills {
  flex: 1;
  padding: 1rem;
  max-width: 50%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #about-skills {
    width: 100%;
    height: auto; 
    padding: 1rem;
  }

  #about-skills .about-skills-content {
    flex-direction: column;
  }

  #about-skills #about,
  #about-skills #skills {
    max-width: 100%;
  }

  .main-content {
    margin-top: 1rem; 
  }

  footer {
    position: absolute;
  }
}

#about-skills h2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 10px;
}

#about-skills p {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

#about-skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#about-skills li {
  margin: 0.5rem;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

footer {
  position: relative; /* change from absolute to relative */
  margin-top: auto; /* This will push the footer down */
  bottom: 0;
  left: 0;
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  width: 100%; /* Ensure the footer takes up the full width */
}

.main-content {
  flex-grow: 1; /* Allow this element to take up remaining space if available */
}

