#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

form input,
form textarea {
  display: block;
  width: 100%;
  text-align: start;
  padding: 1rem;
  border: 2px solid #a2a5a2;
  background-color: rgba(85, 85, 85, 0.74);
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  color: #fff;
  align-self: center;
}

form textarea {
  background-color: rgb(85, 85, 85);
  opacity: 0.8;
  height: 200px;
}

form button {
  border-radius: 5px;
  padding: 1rem 2rem;
  border: 2px solid #a2a5a2;
  color: #a2a5a2;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  align-self: flex-end;
}

form button:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  color: #fff;
}

@media screen and (max-width: 768px) {
  form {
    max-width: none;
  }

  #contact {
    margin-top: 150px; /* Adjust this value to your needs */
  }
}
