form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

form input,
form textarea {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border: 2px solid #a2a5a2;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border: 2px solid #a2a5a2;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  color: #fff;
}

form button {
  border-radius: 5px;
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid #a2a5a2;
  color: #a2a5a2;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

form button:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  color: #fff;
}
