nav {
  top: 1rem;
  justify-content: flex-start;
  z-index: 2;
  background-color: transparent;
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.6);  */
}

.message-shadow {
  text-shadow: 0 0 15px 0 rgba(77, 182, 172, 0.5) !important;
  box-shadow: 0 0 15px 0 rgba(77, 182, 172, 0.5) !important;
}

.nav-header-wrapper {
  position: relative;
}



#cv-button:hover {
  cursor: pointer;
}

.message-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  margin-left: 1rem;
}

nav h1 {
  font-size: 2rem;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #7d817edc;
}
