nav {
  top: 0.5rem;
  z-index: 2;
  background-color: transparent;
  position: fixed;
  width: 100%;
  flex-direction: row;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-shadow {
  text-shadow: 0 0 15px 0 rgba(77, 182, 172, 0.5) !important;
  box-shadow: 0 0 15px 0 rgba(77, 182, 172, 0.5) !important;
}

#cv-button:hover {
  cursor: pointer;
}

.message-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  margin-left: 1rem;
}

nav h1 {
  font-size: 2rem;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #7d817edc;
}

.hamburger-menu {
  cursor: pointer;
  font-size: 40px;
  color: #ffffff;
  margin-right: 1.5rem;
}

.hamburger-menu i {
  transition: all 0.3s ease-in-out;
}

.hamburger-menu i:hover {
  color: #7d817edc;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
}

.menu {
  right: 20px;
}

.hamburger-menu-item {
  display: block;
  margin-bottom: 0.5rem;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.menu li {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.icon {
  font-size: 40px;
}

.linkedin-icon {
  width: 40px;
  height: 40px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  transition: text-shadow 0.4s ease-in-out;
}

.menu a:hover {
  text-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  nav {
    top: -15px;
    justify-content: space-between;
  }

  .li-size {
    font-size: 25px;
  }

  .linkedin-icon {
    width: 25px;
    height: 25px;
  }

  .hamburger-menu {
    display: block;
    margin-top: 0.3rem;
    margin-right: 15px;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    height: auto;
  }

  .menu li {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }

  .menu ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
